header {
    display: flex;
    position: fixed;
    justify-content: center;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(1.8) blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    font-size: 0.8em;
    height: 40px;
}

header a {
    color: var(--grey);
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: var(--white);
}

.hamb {
    display: none;
}

.logo {
    margin-top: 6px;
    color: var(--lightgrey);
}

.img-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-first-img {
    background-image: url('../img/ipad10_background.jpg');
    height: 700px;
}

.background-second-img {
    background-image: url('../img/iphone14pro_background.jpg');
    height: 700px;
}

.background-third-img {
    background-image: url('../img/iphone14_background.jpg');
    height: 700px;
}

footer {
    padding: 20px 10% 20px 10%;
    font-size: 15px;
    background-color: var(--lightlightgrey);
    color: var(--darkgrey);
}

footer a {
    color: blue
}

.copyright {
    text-align: left;
}

.language-select {
    text-align: right;
}