header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: saturate(1.8) blur(20px);
    -webkit-backdrop-filter: saturate(1.8) blur(20px);
    text-align: center;
    font-size: 0.8em;
    height: 40px;
}

.hamb {
    display: none;
}

.logo {
    color: var(--lightgrey);
}

header a {
    color: var(--grey);
    display: inline-block;
    padding: 1em 1.5em 1em 1.5em;
    transition: color 0.3s ease-in-out;
}

header a:hover {
    color: var(--white);
}

.img-cover {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.background-first-img {
    background-image: url('../img/iphone14pro_background.jpg');
    height: 700px;
}

.background-second-img {
    background-image: url('../img/iphone14_background.jpg');
    height: 700px;
}