.hamb .active,
.side-menu,
.side-menu:checked~.hamb .inactive {
    display: none;
}

.side-menu:checked~.hamb .active {
    display: block;
}

@media (max-width: 768px) {

    .bag,
    .logo,
    .hamb {
        display: block;
        position: absolute;
    }

    .logo {
        margin-top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bag {
        top: 0;
        right: 0;
    }

    .hamb {
        top: 0;
        left: 0;
    }

    nav {
        background-color: black;
        opacity: 0;
        margin-top: 40px;
        height: 0%;
        width: 100%;
        position: fixed;
        transition: height 0.5s ease-in-out;
    }

    .side-menu:checked~nav {
        height: 100vh;
        opacity: 1;
        transition: height 0.5s ease-in-out;
    }

    .background-first-img,
    .background-second-img,
    .background-third-img {
        height: 500px;
    }

    .img-cover h2 {
        font-size: 56px;
        font-weight: 500;
    }

    .img-cover p {
        font-size: 28px;
        font-weight: 300;
    }

    .img-cover a {
        font-size: 21px;
        color: var(--blue);
    }

    .background-first-img {
        padding-left: 225px;
    }

    .background-second-img {
        padding-top: 50px;
    }

    .background-third-img {
        padding-top: 50px;
    }

}

@media (min-width: 768px) {
    .menu li {
        float: left;
    }
}