.hamb .active,
.side-menu,
.side-menu:checked~.hamb .inactive {
    display: none;
}

.side-menu:checked~.hamb .active {
    display: block;
}

@media (min-width: 768px) {
    .menu li {
        float: left;
    }
}

@media (max-width: 768px) {

    .bag,
    .logo,
    .hamb {
        display: block;
        position: absolute;
    }

    .logo {
        margin-top: 5px;
        left: 50%;
        transform: translateX(-50%);
    }

    .bag {
        top: 0;
        right: 0;
    }

    .hamb {
        top: 0;
        left: 0;
    }

    nav {
        background-color: black;
        height: 100vh;
        display: none;
        opacity: 0;
        margin-top: 40px;
        width: 100%;
        position: fixed;
    }

    .side-menu:checked~nav {
        display: block;
        opacity: 1;
        transition: opacity 0.2s ease-in-out;
    }

    header:has(.side-menu:checked) {
        background-color: rgba(0, 0, 0, 1);
        transition: 0.2s ease-in-out;
    }

    .background-first-img,
    .background-second-img,
    .background-third-img {
        height: 500px;
    }

    .img-cover h2 {
        font-size: 56px;
        font-weight: 500;
    }

    .img-cover p {
        font-size: 28px;
        font-weight: 300;
    }

    .img-cover a {
        font-size: 21px;
        color: var(--blue);
        transition: 0.2s ease-in-out;
    }

    .img-cover a:hover {
        opacity: 0.8;
        transform: scale(0.95);
        transition: 0.2s ease-in-out;
    }

    .background-first-img {
        padding-left: 225px;
    }

    .background-second-img {
        padding-top: 50px;
    }

    .background-third-img {
        padding-top: 50px;
    }

    .sub-menu {
        padding: 10 20;
    }

    form>* {
        border: medium none;
        width: 80%;
        max-width: 80%;
    }
}

@media (max-width:475px) {
    .background-first-img {
        padding-left: 0;
    }
}