:root {
    --grey: #bdbdbd;
    --lightgrey: #d4d4d4;
    --white: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    text-align: center;
}