:root {
    --darkdarkgrey: rgb(29, 29, 31);
    --darkgrey: #6e6e73;
    --grey: #bdbdbd;
    --lightlightgrey: #f5f5f7;
    --lightgrey: #d4d4d4;
    --white: #ffffff;
    --blue: #06c;
}

* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body {
    background-color: var(--white);
    font-family: "Poppins", sans-serif;
}

a {
    text-decoration: none;
    cursor: pointer;
}

ul,
li {
    list-style: none;
    text-align: center;
}

h1 {
    font-size: 56px;
    font-weight: 500;
    text-align: center;
    padding: 30px 0 30px 0;
}